name: Docker Build and Publish

on:
  push:
    branches:
      - main
      - master
    tags:
      - 'v*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup JFrog Fly
        uses: jfrog/fly-action@v1
        with:
          url: https://supportfly.jfrog.io

      - name: Build Docker image
        if: github.event_name != 'pull_request'
        run: |
          # Build the Docker image
          docker build -f Dockerfile -t supportfly.jfrog.io/docker/myapp:${{ github.sha }} -t supportfly.jfrog.io/docker/myapp:latest .

      - name: Push Docker image
        if: github.event_name != 'pull_request'
        run: |
          # Push the Docker image to Fly registry
          # The fly-action should have configured Docker authentication automatically
          docker push supportfly.jfrog.io/docker/myapp:${{ github.sha }}
          docker push supportfly.jfrog.io/docker/myapp:latest

      - name: Build Docker image (PR)
        if: github.event_name == 'pull_request'
        run: |
          # Build only, don't push for PRs
          docker build -f Dockerfile -t supportfly.jfrog.io/docker/myapp:${{ github.sha }} .

